

.projects {
    min-height: 100vh;
    background-color: #a7ddfb;
    display: flex;
    justify-content: center;
}
.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.container h2 {
    margin: 60px;
}

.myProjects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 360px) and (max-width: 760px) {
    .container {
        margin-bottom: 60px;
    }

    .myProjects {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 761px) and (max-width: 990px) {
    .container {
        margin-bottom: 60px;
    }
    .container h2 {
        margin: 60px;
    }
}