.slogan {
    min-height: 35vh;
    background-color: #fffcc2;
    display: flex;
    justify-content: center;
}
.slogan .container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 60px 0;
}
.slogan span {
    font-size: 33px;
    text-align: center;
}
.slogan button {
    font-size: 20px;
}

@media (min-width: 360px) and (max-width: 760px) {
    .slogan span {
        font-size: 25px;
    }
}